@font-face {
	font-family: CoreSans;
	src: url('../fonts/CoreSansA35Light.eot'); /* IE9 Compat Modes */
  	src: url('../fonts/CoreSansA35Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/CoreSansA35Light.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/CoreSansA35Light.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/CoreSansA35Light.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/CoreSansA35Light.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: 300;
}

@font-face {
	font-family: CoreSans;
	src: url('../fonts/CoreSansA45Regular.eot'); /* IE9 Compat Modes */
  	src: url('../fonts/CoreSansA45Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/CoreSansA45Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/CoreSansA45Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/CoreSansA45Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/CoreSansA45Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: 400;
}

@font-face {
	font-family: CoreSans;
	src: url('../fonts/CoreSansA65Bold.eot'); /* IE9 Compat Modes */
  	src: url('../fonts/CoreSansA65Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/CoreSansA65Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/CoreSansA65Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/CoreSansA65Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/CoreSansA65Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
	font-weight: 700;
}